@{
    ViewData["Title"] = "ТМЛ | Информация о премиуме.";
    Layout = "/Views/_Layout.cshtml";
}

    <div class="box">
        <div class="bg-hover-post" style="margin-top:0px!important">
            <div>
                <p class="poster-mega-text"><a href="@Url.Action("BuyPremium","Bank")">Премиум</a></p>
                <p>Покупка ПРЕМИУМ статуса.</p>
            </div>
        </div>
        <div style="margin-top: 20px">
            <p>Премиум покупается в группе вк через VK Donuts и автоматически выдается вам на сайте при покупке. Премиум статус предоставляет бонусы для вашего аккаунта, а так же вы помогаете сайту на оплату хостинга. Премиум даёт возможности заработать большое количество денег, для реализации своего государства, организации или других идей.</p>
            <p style="margin-top:10px">Преймущества премиума:</p>
            <div class="block-container ucp-valid-info ucp-log-container">
                <ul>
                    <li>Налог на счёт всегда в <strong>два</strong> раза меньше.</li>
                    <li>Стоимость создания ораганизации в <strong>два</strong> раза меньше.</li>
                    <li>Максимальное финансирование организации <strong>10.000</strong> Мемларов.</li>
                    <li><strong>Цветной</strong> ник на сайте.</li>
                    <li>Любые запрлаты с любых организаций увеличины в <strong>1.5</strong> раз.</li>
                    <li><strong>500</strong> Мемларов в день пассивно. ( не действует бонус x1.5 )</li>
                    <li><strong>Приоритеты</strong> в заявках на поощрение и созданиях товара. ( быстрое одобрение )</li>
                    <li>Цены на товары в магазине снижены на <strong>10%</strong></li>
                    <li>Доступ к дополнительной админ статистике ( на странице статистики )</li>
                    <li>Активен <strong>депозит</strong> ( под маленький процент )</li>
                </ul>
            </div>
            <!--<p style="margin-top:10px">
        При первой покупке:
    </p>
    <div class="block-container ucp-valid-info ucp-log-container">
        <ul>
            <li>Получение <strong>50.000</strong> Мемларов на счёт.</li>
            <li>Доступ к <strong>приватной</strong> беседе.</li>
        </ul>
    </div>
    <p style="margin-top:10px">
        При покупке навсегда:
    </p>
    <div class="block-container ucp-valid-info ucp-log-container">
        <ul>
            <li>Получение уникального <strong>легендарного</strong> предмета ( однин из трёх, специальной для вип ).</li>
            <li>
                Получение <strong>100.000 </strong> кекларов на счёт.
            </li>
        </ul>
    </div>-->

            <!--<div style="margin-top: 30px;text-align: center;">
                <div class="premium-block">
                    <div class="prem-win" style="background-image: linear-gradient(to right, rgba(35, 29, 29, 0.92) 0%, rgba(90, 66, 66, 0.72) 50%, rgba(35, 29, 29, 0.88) 100%), url(https://png.pngtree.com/thumb_back/fw800/background/20190831/pngtree-red-vector-abstract-fluid-background-image_311703.jpg);background-position: bottom;">
                        <span class="prem-rub">200 Руб.</span>
                    </div>
                    <div>
                        <p class="prem-p">Покупка на один месяц. Если хотите поддержать единоразово</p>
                    </div>
                </div>
                <div class="premium-block">
                    <div class="prem-win" style="background-image: linear-gradient(to right, rgba(35, 29, 29, 0.92) 0%, rgba(90, 66, 66, 0.72) 50%, rgba(35, 29, 29, 0.88) 100%), url(https://i2.wp.com/files.123freevectors.com/wp-content/original/171783-abstract-green-fluid-color-gradient-geometric-shapes-composition-background.jpg?w=800&q=95);background-position: center;">
                        <span class="prem-rub">250 Руб.</span>
                    </div>
                    <div>
                        <p class="prem-p">Покупка на три месяца. Выгодно если покупать наперёд.</p>
                    </div>
                </div>
                <div class="premium-block">
                    <div class="prem-win" style="background-image: linear-gradient(to right, rgba(35, 29, 29, 0.92) 0%, rgba(90, 66, 66, 0.72) 50%, rgba(35, 29, 29, 0.88) 100%), url(https://i2.wp.com/files.123freevectors.com/wp-content/original/171847-pink-and-blue-fluid-liquid-color-abstract-geometric-background-design-template.jpg?w=800&q=95);background-position: center;">
                        <span class="prem-rub">700 Руб.</span>
                    </div>
                    <div>
                        <p class="prem-p">Покупка на всегда. Поддержать проект вперёд на месяц.</p>
                    </div>
                </div>

            </div>-->

            <div style="margin-top: 30px;text-align: center;">
            <a target="_blank" style="padding-top: 15px;padding-right: 20px; padding-bottom: 15px;padding-left: 20px;font-size: 15px;" class="button reg-button button-succ" href="https://vk.com/donut/adresuzhezanyat666">Купить</a>
            </div>

        </div>
    </div>

