@model WithDrawCasino
@{
    ViewData["Title"] = "ТМЛ | Покупка коинов";
    Layout = "/Views/_Layout.cshtml";
}

<div class="box">
    <div class="block-container name-container c-white">
        <h1 class="c-title text-normal">Покупка коинов</h1>
    </div>

    <div class="block-container ucp-validation-error ucp-log-container" asp-validation-summary="ModelOnly"></div>

    <div class="block-container ucp-info-block no-padding ucp-reg-inf-block">
        <div>
            <form asp-action="CasinoInDraw" asp-controller="Bank" asp-anti-forgery="true" method="post">
                <div>
                    <div class="ucp-reg-input-div">
                        <div class="ucp-row-label">
                            <label asp-for="Coins">Количество</label>
                        </div>
                        <div class="ucp-row-input">
                            <input type="text" class="js-coins-buy" asp-for="Coins" />
                            <span asp-validation-for="Coins" />
                        </div>
                    </div>
                    <div class="ucp-reg-input-div">
                        <div class="ucp-row-label">
                        </div>
                        <div class="ucp-row-input align-center">
                            <p>Вы заплатите: <strong class="js-coins-item">0</strong> Мемлар</p>
                            <button class="button reg-button button-succ" type="submit">Купить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/casino.js"></script>
}

