@model CreateGoverment
@{
    ViewData["Title"] = "ТМЛ | Создание государства";
    Layout = "/Views/_Layout.cshtml";
    ViewData["IsOrg"] = true;
}

<div class="box">
    <div class="block-container name-container c-white">
        <h1 class="c-title text-normal">Создание госудрства</h1>
    </div>

    <div class="block-container ucp-validation-error ucp-log-container" asp-validation-summary="ModelOnly"></div>

    <div class="block-container ucp-info-block no-padding ucp-reg-inf-block">
        <div>
            <form asp-action="CreateGoverment" asp-controller="Bank" asp-anti-forgery="true">
                <div>
                    <div class="ucp-reg-input-div">
                        <div class="ucp-row-label">
                            <label asp-for="GovermentName">Имя государства</label>
                            <i class="req">*</i>
                        </div>
                        <div class="ucp-row-input">
                            <input type="text" asp-for="GovermentName" />
                            <span asp-validation-for="GovermentName" />
                        </div>
                    </div>
                    <div class="ucp-reg-input-div">
                        <div class="ucp-row-label">
                            <label asp-for="AdminName">Имя лидера государства</label>
                            <i class="req">*</i>
                        </div>
                        <div class="ucp-row-input">
                            <input type="text" asp-for="AdminName" />
                            <span asp-validation-for="AdminName" />
                        </div>
                    </div>
                    <div class="ucp-reg-input-div">
                        <div class="ucp-row-label">
                            <label asp-for="VKurl">Ссылка на группу ВК</label>
                            <i class="req">*</i>
                        </div>
                        <div class="ucp-row-input">
                            <input type="text" asp-for="VKurl" />
                            <span asp-validation-for="VKurl" />
                        </div>
                    </div>
                    <div class="ucp-reg-input-div">
                        <div class="ucp-row-label">
                            <label asp-for="Information">Краткая информация</label>
                            <i class="req">*</i>
                        </div>
                        <div class="ucp-row-input">
                            <input type="text" asp-for="Information" />
                            <span asp-validation-for="Information" />
                        </div>
                    </div>
                    <div class="ucp-reg-input-div">
                        <div class="ucp-row-label">
                            <label asp-for="Budget">Бюджет</label>
                            <i class="req">*</i>
                        </div>
                        <div class="ucp-row-input">
                            <input type="number" asp-for="Budget" />
                            <span asp-validation-for="Budget" />
                        </div>
                    </div>
                    <div class="ucp-reg-input-div">
                        <div class="ucp-row-label">
                            <label asp-for="ImageCoverUrl">Картинка сзаднего фона</label>
                            <i class="req">*</i>
                        </div>
                        <div class="ucp-row-input">
                            <input type="text" asp-for="ImageCoverUrl" />
                            <span asp-validation-for="ImageCoverUrl" />
                        </div>
                    </div>
                    <div class="ucp-reg-input-div">
                        <div class="ucp-row-label">
                            <label asp-for="ImageFlagUrl">Картинка флага</label>
                            <i class="req">*</i>
                        </div>
                        <div class="ucp-row-input">
                            <input type="text" asp-for="ImageFlagUrl" />
                            <span asp-validation-for="ImageFlagUrl" />
                        </div>
                    </div>

                    <div class="ucp-reg-input-div">
                        <div class="ucp-row-label">

                        </div>
                        <div class="ucp-row-input align-center">
                            <button class="button reg-button button-succ" type="submit">Создать</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}