@{
    ViewData["Title"] = "ТМЛ | Товар успешно создан!";
    Layout = "/Views/_Layout.cshtml";
}

<div class="box">
    <div class="align-center">
        <p>Товар создан и ожидает подтвержения.</p>
        <a href="@Url.Action("Index", "Bank")">На главную</a>
    </div>
</div>

