@model SendMoneyProjectModel
@{
    ViewData["Title"] = "ТМЛ | Вклад денег в проект";
    Layout = "/Views/_Layout.cshtml";

    var project = await _BankServices.GetProject(Model.ProjectId);
}

<div class="box">
    <div class="block-container name-container c-white">
        <h1 class="c-title text-normal">Вложить в проект @project.Name</h1>
    </div>

    <div class="block-container ucp-validation-error ucp-log-container" asp-validation-summary="ModelOnly"></div>

    <div class="block-container ucp-info-block no-padding ucp-reg-inf-block">
        <div>
            <form asp-action="SendMoneyProject" asp-controller="Bank" asp-anti-forgery="true" method="post">
                <div>
                    @Html.HiddenFor(m => m.ProjectId)

                    <div class="ucp-reg-input-div">
                        <div class="ucp-row-label">
                            <label asp-for="Money">Количество</label>
                        </div>
                        <div class="ucp-row-input">
                            <input type="number" asp-for="Money" />
                            <span asp-validation-for="Money" />
                        </div>
                    </div>
                    <div class="ucp-reg-input-div">
                        <div class="ucp-row-label">
                        </div>
                        <div class="ucp-row-input align-center">
                            <button class="button reg-button button-succ" type="submit">Отправить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}

