@model SetUserItemModel
@{
    ViewData["Title"] = "ТМЛ | Добавление предмета игроку.";
    Layout = "/Views/_Layout.cshtml";

    var user = await _BankServices.FindByIdAsync(Model.User.Id);
}

    <div class="box">
        <div class="block-container name-container c-white">
            <h1 class="c-title text-normal">Добавление предмета игроку '@user.Name'</h1>
        </div>

        <a class="menu-url" href="@Url.Action("AllItemsAdmin", "Bank")"><i class="fas fa-exchange-alt"></i> Все предметы</a>

        <div class="block-container ucp-validation-error ucp-log-container" asp-validation-summary="ModelOnly"></div>

        <div class="block-container ucp-info-block no-padding ucp-reg-inf-block">
            <div>
                <form asp-action="SetUserItem" asp-controller="Bank" asp-anti-forgery="true">
                    @Html.HiddenFor(m => m.User.Id)
                    <div>
                        <div class="ucp-reg-input-div">
                            <div class="ucp-row-label">
                                <label asp-for="ItemId">Id предмета</label>
                                <i class="req">*</i>
                            </div>
                            <div class="ucp-row-input">
                                <input type="number" asp-for="ItemId" />
                                <span asp-validation-for="ItemId" />
                            </div>
                        </div>

                        <div class="ucp-reg-input-div">
                            <div class="ucp-row-label">
                                <label asp-for="Col">Количество предмета.</label>
                                <i class="req">*</i>
                            </div>
                            <div class="ucp-row-input">
                                <input type="number" asp-for="Col" />
                                <span asp-validation-for="Col" />
                            </div>
                        </div>

                        <div class="ucp-reg-input-div">
                            <div class="ucp-row-label">

                            </div>
                            <div class="ucp-row-input align-center">
                                <button class="button reg-button button-succ" type="submit">Добавить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}