@{
    ViewData["Title"] = "ТМЛ | Перевод успешно проведён!";
    Layout = "/Views/_Layout.cshtml";
}

<div class="box">
    <div class="align-center">
        <p>Перевод успешно совершён! Спасибо за использование нашего банка.</p>
        <a href="@Url.Action("Transfer", "Bank")">Перевести ещё?</a>
    </div>
</div>

